{% extends "layout.html" %}
{% block head %}
    <meta name="显示结果" content="显示功耗攻击的结果" />
    <script src="/static/rgraph/RGraph.common.core.js"></script>
    <script src="/static/js/rgraph/RGraph.line.js"></script>
    <!--[if lt IE 9]><script src="../excanvas/excanvas.js"></script><![endif]-->
    <script src="/static/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery/jquery.idTabs.min.js"></script>
{% endblock %}

{% block body %}
    {% if session.logged_in %}

        <ul class="idTabs">
            <li><a href="#project">project</a></li>
            <li><a href="#upload">uploadfile</a></li>
            <li><a href="#evaluation">evaluation</a></li>
            <li><a href="#result">result</a></li>
            <li><a href="#about">about</a></li>
        </ul>

        <div id="project">
            <form action="{{ url_for('add_prj') }}" method=post class=add-entry>
                    <dl>
                        <dt>新建工程:
                            <dd><input type="text" size="30" name="prjname"></dd>
                    </dt>
                    <dt>说明:
                            <dd><textarea name="description" rows="5" cols="40"></textarea></dd>
                        <dd><input type=submit value=确定></dd>
                    </dt>
                </dl>
            </form>
            <form action="{{ url_for('remove_prj') }}" method=post class=add-entry>
                    <dl>
                        <dt>删除工程:
                            <dd><input type="text" size=30 name=prjname></dd>
                        <dd><input type="submit" value="确定"></dd>
                    </dt>
                </dl>
            </form>
            <form action="{{ url_for('set_prj') }}" method=post class=add-entry>
                    <dl>
                        <dt>设置工程:
                            <dd><input type=text size=30 name=prjname></dd>
                        <dd><input type=submit value=Share></dd>
                    </dt>
                </dl>
            </form>
        </div>

        <div id="upload">
            <form action="{{ url_for('upload_plain') }}" method="post" enctype="multipart/form-data">
                <dt>上传明文数据：
                    <dd><input type="file" multiple="" name="file[]" class="add-entry"></dd>
                    <dd><input type="submit" value="Upload"  class="add-entry"></dd>
                </dt>
            </form>
            <form action="{{ url_for('upload_power') }}" method="post" enctype="multipart/form-data">
                <dt>上传功耗数据：
                    <dd><input type="file" multiple="" name="file[]" class="add-entry"></dd>
                    <dd><input type="submit" value="Upload"  class="add-entry"></dd>
                </dt>
            </form>
        </div>

        <div id="evaluation">
            <form action="{{ url_for('readplain') }}" method=post class=add-entry>
                <dl>
                    <dt>载入明文数据:
                        <dd><input type=text size=30 name=dirname></dd>
                        <dd><input type=submit value=确定></dd>
                    </dt>
                </dl>
            </form>
            <form action="{{ url_for('readpower', power=POWER) }}" method=post class=add-entry>
                <dl>
                    <dt>载入功耗数据:
                        <dd><input type=text size=30 name=dirname></dd>
                        <dd><input type=submit value=确定></dd>
                    </dt>
                </dl>
            </form>
            <form action="{{ url_for('do_attack') }}" method=post class=add-entry>
                <dl>
                    <dt>选取样本数量:
                        <dd><input type=number size=30 name=samples></dd>
                        <dd><input type=submit value=攻击></dd>
                    </dt>
                </dl>
            </form>

            <form action="{{ url_for('do_evaluation') }}" method=post class=add-entry>
                <dl>
                    <dt>输入正确密钥:
                        <dd><input type=number size=30 name=truekey></dd>
                        <dd><input type=submit value=评估></dd>
                    </dt>
                </dl>
            </form>
        </div>

        <div id="result">
            <h4>todo</h4>
        </div>

        <div id="about">
        <h4>about the epar</h4>
</div>
    {% endif %}
{% endblock %}}
